/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Lato', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

}

header{
  background-color: #2f2b4a;
  width:100%;
  display: none;
}
@media(max-width:735px){
  .container{
    display: block;
  }
  header img{
    width:30px;
    margin:10px;
  }
}

aside {
  width: 20%;
  background-color: #2f2b4a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  position: fixed;

}
@media(max-width: 735px){
  header{
    display:flex;
  }
  aside{
    display: none;
  }
}

aside img {
  width: 100px;
}

aside h1 {
  color: white;
  font-size: 30px;
}

aside a {
  text-decoration: none;
  color: #bb1333;

}

aside a:hover {
  text-decoration: underline;
}

section {
  margin-right: 20px;
  margin-left: 22%;
  margin-top: 30px;
}

.par{
  display:none;
}
@media(max-width: 735px){
  section{
    margin-left: 20px;
  }
  .par{
    display:block ;
  }
}


section h1 {
  font-size: 24px;
  font-weight: bold;
}

.desc {
  margin: 20px 0;
  line-height: 1.5;

}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  background-color: teal;
  margin: 10px;
  padding: 40px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 100;
  border-radius: 5px;
}
@media(max-width: 735px){
  .cards {
    flex-direction: column;
  }
  
  .card {
    width: 100%;
    
    margin: 10px;
    padding:20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 100;
    border-radius: 5px;
  }

}
.card:nth-child(1),
.card:nth-child(7) {
  background-color: #14121f;
}

.card:nth-child(2),
.card:nth-child(8) {
  background-color: #0c3d78;
}

.card:nth-child(3),
.card:nth-child(9) {
  background-color: #3bb5e6;
}

.card:nth-child(4) {
  background-color: #2f2c4b;
}

.card:nth-child(5) {
  background-color: #1a61af;
}

.card:nth-child(6) {
  background-color: #d84a5a;
}

.links {
  display: flex;
  flex-wrap: wrap;
}
@media(max-width: 735px){
  
.links {
  flex-direction: column;
  justify-content: space-between;
}
.link{
  width:100%;
  
}
.link a{
  width:100%;
  
}
}
.link {
  width: 30%;
  height: 150px;
  line-height: 1.5;
  margin: 5px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  color: black;
 
}

.link a {
  color: red;
  text-decoration: none;
  font-size: 12px;
  font-weight: 80;
}
.link h3{
  font-size: 20px;
  font-weight: 200;
}

